---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import classes from "@styles/pages/about.module.scss";
import { Image } from "astro:assets";
import logo from "@assets/icons/wci.svg";
import NavigationMenu from "@shared/navigationMenu/components";
import Footer from "@widgets/footer/Footer.astro";
import ContactUs from "@widgets/contactUs/ContactUs";
import team from "@assets/images/team.webp";
import person from "@assets/images/person_mockup.png";
import person_one from "@assets/images/person_mockup_1.png";
import obi_wan from "@assets/images/obi_wan.webp";
import windu from "@assets/images/windu.webp";

changeLanguage("en");

const isActive = (path: string) => Astro.url.pathname === path || Astro.url.pathname.startsWith(path + "/");
---

<Layout title="About us | WCI">
  <header class={classes["header"]}>
    <div class={classes["header__container"]}>
      <Image
        height={50}
        width={120}
        format="svg"
        class={classes["header__image"]}
        src={logo}
        alt="Website Name Logo"
        loading="eager"
        decoding="async"
      />

      <div class={classes["header__btn-groups"]}>
        <div class={classes["language-switcher"]}>
          <a
            href="/en"
            aria-label="English"
            class:list={[
              classes["language-switcher__switcher"],
              { [classes["language-switcher__switcher-active"]]: isActive("/en") },
            ]}
          >
            EN
          </a>
          <a
            href="/"
            aria-label="Russian"
            class:list={[
              classes["language-switcher__switcher"],
              { [classes["language-switcher__switcher-active"]]: isActive("/") },
            ]}>RU</a
          >
        </div>
        <NavigationMenu client:load />
      </div>
    </div>
  </header>

  <main>
    <section class={classes["about"]}>
      <div class={classes["about__container"]}>
        <h1 class={classes["about__title"]}>О нас</h1>

        <div class={classes["about__content"]}>
          <p>
            Мы - ведущая компания в области IT-аутсорсинга, предоставляющая широкий спектр услуг по разработке
            программного обеспечения, информационной безопасности, технической поддержке и многому другому.
          </p>

          <p>
            Наша миссия - помогать бизнесам улучшать свою эффективность, расширять границы возможностей и достигать
            новых высот в цифровой эпохе.
          </p>

          <p>
            С 2024 года мы успешно работаем на рынке IT-аутсорсинга, помогая нашим клиентам воплощать в жизнь самые
            амбициозные проекты. За это время мы завершили более 10+ проектов, утвердившись как надежный партнер с
            безупречной репутацией.
          </p>
        </div>
      </div>

      <div class={classes["banner"]}>
        <div class={classes["banner__container"]}>
          <Image class={classes["banner__img"]} src={team} alt="Team" />
        </div>
      </div>

      <div class={classes["team"]}>
        <div class={classes["team__container"]}>
          <h1 class={classes["team__title"]}>Наша команда</h1>
        </div>
      </div>

      <div class={classes["wrapper"]}>
        <div id="carousel" class={classes["carousel"]}>
          <ul id="content" class={classes["carousel__list"]}>
            <li class={classes["carousel__list__item"]}>
              <Image src={obi_wan} alt="person" loading="eager" decoding="async" />
              <div class={classes["carousel__list__item__info"]}>
                <span>Obi-Wan Kenobi</span>
                <span>Jedi Master</span>
              </div>
            </li>

            <li class={classes["carousel__list__item"]}>
              <Image src={windu} alt="person" loading="eager" decoding="async" />
              <div class={classes["carousel__list__item__info"]}>
                <span>Mace Windu</span>
                <span>Jedi Master</span>
              </div>
            </li>

            <li class={classes["carousel__list__item"]}>
              <Image src={person_one} alt="person" loading="eager" decoding="async" />
              <div class={classes["carousel__list__item__info"]}>
                <span>Yoda</span>
                <span>Jedi Master</span>
              </div>
            </li>

            <li class={classes["carousel__list__item"]}>
              <Image src={person} alt="person" loading="eager" decoding="async" />
              <div class={classes["carousel__list__item__info"]}>
                <span>Plo Koon</span>
                <span>Jedi Master</span>
              </div>
            </li>

            <li class={classes["carousel__list__item"]}>
              <Image src={person} alt="person" loading="eager" decoding="async" />
              <div class={classes["carousel__list__item__info"]}>
                <span>Anakin Skywalker</span>
                <span>Padawan</span>
              </div>
            </li>
          </ul>
        </div>
        <button id="prev" class={classes["prev"]}>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"></path>
          </svg>
        </button>
        <button id="next" class={classes["next"]}>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
          </svg>
        </button>
      </div>
    </section>
    <ContactUs />
  </main>

  <Footer />
</Layout>

<script>
  const carousel = document.getElementById("carousel")!;
  const content = document.getElementById("content")!;
  const next = document.getElementById("next")!;
  const prev = document.getElementById("prev")!;

  const GAP = 16;

  let width = carousel.offsetWidth;

  function updateButtons() {
    prev.style.display = carousel.scrollLeft === 0 ? "none" : "flex";
    next.style.display = carousel.scrollLeft + width >= content.scrollWidth - GAP ? "none" : "flex";
  }

  function scrollCarousel(offset: number) {
    carousel.scrollBy(offset, 0);
    updateButtons();
  }

  next.addEventListener("click", () => scrollCarousel(width + GAP));
  prev.addEventListener("click", () => scrollCarousel(-(width + GAP)));

  window?.addEventListener("resize", () => {
    width = carousel.offsetWidth;
    updateButtons();
  });

  updateButtons();
</script>
